@font-face {
    font-family: tt_fors_display_medium;
    src: url(fonts/tt_fors_display_medium.otf);
}

@font-face {
    font-family: tt_norms_light;
    src: url(fonts/tt_norm_light.otf);
}

h1 {
    font-family: 'Arima Madurai', cursive;
    font-size: 2.0em;
}  

h2 {    
    font-family: "tt_fors_display_medium";            
    font-size: 1.0em
}

h3  {
    font-family: 'Arima Madurai', cursive;
    font-size: 1.8em;
}

.navigation {   
    text-decoration: none;
    font-family: "tt_fors_display_medium";
    font-size: 0.8em;
    color: black;
}

.contact   {
    font-family: "tt_fors_display_medium";
    font-style: normal;
    font-size: 1.0em;
    color: black;
}

.presentation { 
    font-family: 'Arima Madurai', cursive; 
    font-size: 1.8em;
}

.definition {
    font-family: "tt_norms_light";
    font-size: 1.8em;
}

.liste_prestations {
    font-family: 'Alata', sans-serif;
    font-size: 1.6em;
}
